.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skeleton {
    background: #e5e7eb;
    border-radius: 4px;
    width: 100%;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
